body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  grid-gap: 10px;
  grid-auto-rows: minmax(400px, auto);
  div {
    border: 1px solid #cdcdcd;
  }
}
.screen {
  background-color: #bada55;
}
