body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 10px;
  grid-template-rows: minmax(200px, auto);
  grid-auto-rows: minmax(200px, auto);
  .cameraEl {
    border: 1px solid #cdcdcd;
    position: relative;
    .panelOption {
      position: absolute;
      right: 0;
      top: 0;
    }
    &.dropAble {
      background-color: transparent !important;
      border: 2px dotted red;
      video {
        display: none;
      }
    }
  }
}
.screen {
  background-color: #bada55;
}

.settingPanel {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  .formElm {
    margin-left: 10px;
    display: inline-block;
    span,
    input {
      display: block;
    }
  }
}
